
<app-header></app-header>

<div class="container">
  <div [hidden]="!isRegistro">
    <h1>{{ title }}</h1>
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="placeMarker($event)">
      <agm-marker ng-if="isMapClick" [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
    </agm-map>

    <div class="jumbotron">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input [formControl]="nombre" type="text" class="form-control" id="nombre" placeholder="Jose">
        </div>

        <div class="form-group">
          <label for="fecha">Fecha</label>
          <input [formControl]="fecha" type="date" class="form-control" id="fecha">
        </div>

        <div class="form-group">
          <label for="reporte">Reporte</label>
          <textarea [formControl]="reporte" class="form-control" id="reporte"></textarea>
        </div>

        <div class="form-group">
          <label for="ubicacion">Ubicacion</label>
          <textarea [formControl]="ubicacion" class="form-control" id="ubicacion"></textarea>
        </div>

        <button (click)="guardaDatos()" type="button" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </div>

  <div [hidden]="isRegistro">
      <h1>Resumen {{ title }}</h1>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-circle *ngFor="let dato of datos" [fillColor]="fillcolor" [radius]="5" [latitude]="dato.lat" [longitude]="dato.lng"></agm-circle>
      </agm-map>
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Reporte</th>
              <th>Ubicacion</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dt of datos">
              <td>{{dt.nombre}}</td>
              <td>{{dt.fecha}}</td>
              <td>{{dt.reporte}}</td>
              <td>{{dt.lat}},{{dt.lng}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>